body{
    background: purple;
    color: white;

}


.About{
    background-color: purple;
    padding-left: 8px;
    padding-right: 8px;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Aboutdiv{
    display: flex;
}